* {
    font-family: "calibri";
    font-size: 16px;
    color: black;
}

.mensaje {
    margin: ;
    font-size: 30px;
}

.img1, .img2, .img3 {
    width: 80px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 30px 0 30px;
}